.shop-container{
    display: flex;
}
.product-container{
    width: 70%;
    margin-left: 40px;
    margin-right: 10px;
    border-right: 2px solid lightgrey;
}

.order-count{
    text-align: center;
    margin-left: 80px;
}