.product{
    display: flex;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 5px;
    padding-bottom: 5px;

}
.product-details{
    margin: 5px;
    padding: 5px;
}
.product-name{
    color: blue;
    font-weight: 400;
}

.button{
    border: none;
    background-color: lightseagreen;
    padding: 10px 30px;
    color: white;
    font-size: large;
    cursor: pointer;
}

